aioice
aiortc
altair
attrs
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
cryptography
dlib
dnspython
deepface
entrypoints
gitdb
GitPython
google-crc32c
idna
ifaddr
importlib_metadata
Jinja2
jsonschema
jsonschema-specifications
markdown-it-py
MarkupSafe
mdurl
mediapipe
mtcnn
narwhals
numpy
opencv-python
packaging
pandas
pillow
protobuf
pyarrow
pycparser
pydeck
pyee
Pygments
pylibsrtp
Pympler
pyOpenSSL
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
streamlit
streamlit-drawable-canvas
streamlit-webrtc
statistics
ssd
tenacity
toml
toolz
torch
tornado
typing_extensions
tzdata
tzlocal
urllib3
ultralytics
validators
zipp